
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: opsovereasies.operators-over-ez.mydomain.com
spec:
  group: operators-over-ez.mydomain.com
  names:
    kind: OpsOverEasy
    listKind: OpsOverEasyList
    plural: opsovereasies
    singular: opsovereasy
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: OpsOverEasy is the Schema for the opsovereasies API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: OpsOverEasySpec defines the desired state of OpsOverEasy
          properties:
            message:
              description: Log message to output before container expires
              type: string
            timeout:
              description: Timeout duration, in seconds
              format: int32
              type: integer
          type: object
        status:
          description: OpsOverEasyStatus defines the observed state of OpsOverEasy
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
